# Node
node_modules/
dist/
.vercel/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/
env/

# Databases
*.db
*.sqlite3

# Uploads and User Data
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
